.services-text {
    text-align: center;
    margin-top: 30px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* height: 1000px; */
    height: auto;
}

.service-card {
    margin-bottom: 300px;
}


/* for services responsive  */
@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        /* height: 3100px; */
        height: auto;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        /* height: 1550px; */
        height: auto;
    }
}